.directory-entry {
    margin-top: 5px;
    margin-bottom: 5px;
    color: skyblue;
}
.directory-entry:hover {

    color: darkslategray;

}

h2 {
    margin-top: -16px;
    margin-bottom: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-right: -30px;
    margin-left: -30px;
    padding-left: 30px;
    background-color: #284671;
    color:white
}

.leaflet-marker-icon:hover {
    color: red;
    z-index: 1000;
}

.legend {
    cursor:pointer;
    -webkit-border-radius: 8px;
    text-decoration: none;
    padding: 10px 15px;
    background: #FFF;
    color: black;
    margin-left: 0rem
;
    }
    .legend:hover {
    text-decoration: none;
    -webkit-transition-duration: 0.2s;
    }